body {
    margin: 0px;
}

header {
    display: flex;
    background-color: lightblue;
    border: solid;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

footer {
    display: flex;
    border: solid;
    background-color: lightblue;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.bild {
    display: flex;
    justify-content: center;
}

.abstand {
    display: flex;
    justify-content: space-around;
}

.pizzamenu {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
    flex-wrap: wrap;
}

.schriftgrösse {
    font-size: 9px;
}

.schriftgrösse1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.rechtsbündig {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}

.rechtsbündig1 {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.mittig {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}

.alles {
    display: flex;
    justify-content: space-between;
}

.frage {
    display: flex;
    justify-content: flex-end;
    width: 250px;
}

.antwort {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.warenkorb {
    display: flex;
    justify-content: space-between;
}

.name{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}



.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}